node_modules/
.pnpm-store/
.git/
.github/
coverage/
*.log
*.sqlite
data/beta-evidence/
ops/latest-*
ops/*-history.jsonl
ops/*-decisions.jsonl
ops/*-outbox.jsonl
ops/*-ledger.jsonl
ops/daemon-status.json
ops/company-mode-runtime.json
ops/company-supervisor-status.json
.env
.env.*
!.env.staging.example
*.md
!README.md
Thumbs.db
.DS_Store
